#themeToggle {
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: var(--contrary-color);
}

#themeToggle:hover{
    background-color: var(--contrary-accent-color);
}

#rotationImage {
    max-width: 50%;
}