#rotationImage {
  max-width: 40%;
}

#modal,
#animacion {
  position: absolute;
  inset: 0;
  justify-content: center;
  align-items: center;
}

#animacion {
  z-index: 1;
}

#animacion .circulo {
  width: 30%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: var(--primary);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.circulo img {
  width: 120px;
  margin-top: 10px;
  border-radius: 50%;
}

button {
  margin: 10px;
}

a {
  text-decoration: none;
  color: var(--primary);
  transition: color 0.1s ease;
}

a:hover {
  color: var(--accent);
}